<div class="container mt-3 flex justify-content-center">
  <div class="p-card" style="{'min-width': '50rem'}">
    <div class="p-card-title flex justify-content-center p-5">Accounts</div>
    <div class="p-card-body">
      <div class="justify-content-center flex">
        <p-progressSpinner
          *ngIf="loading"
          styleClass="w-4rem h-4rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".5s" />
      </div>
      <p-table
        *ngIf="!loading"
        [value]="accounts"
        responsiveLayout="stack"
        [breakpoint]="'960px'"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>#</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th>RIB</th>
            <th>Client ID</th>
            <th>Client Full Name</th>
            <th>Client Type</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account let-columns="columns">
          <tr>
            <td>
              <span class="p-column-title">#</span>{{account.id}}
            </td>
            <td>
              <p-tag
                [value]="account.accountType"
                [severity]="getSeverity(account.accountType)" />
            </td>
            <td>
              <span class="p-column-title">Balance</span>{{account.balance | currency: account.currency}}
            </td>
            <td>
              <span class="p-column-title">RIB</span>{{account.rib}}
            </td>
            <td>
              <span class="p-column-title">Client ID</span>{{account.customerInfo.id}}
            </td>
            <td>
              <span class="p-column-title">Client Full Name</span>{{account.customerInfo.firstName}} {{account.customerInfo.lastName}}
            </td>
            <td>
              <p-tag
                [value]="account.customerInfo.clientType"
                [severity]="getClientSeverity(account.customerInfo.clientType)" />
            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
